<div class="container">
  <div class="row">
    <div class="col-sm">
      <input type="text" [(ngModel)]="login" name="login" placeholder="login"/>
    </div>
    <div class="col-sm">
      <input type="text" [(ngModel)]="passwd" name="passwd" placeholder="password"/>
    </div>
    <div class="col-sm">
      <button (click)="onSubmit()" class="btn btn-outline-secondary"> Login</button>
    </div>
    <div *ngIf="isAdmin!=undefined && isAdmin.admin" class="col-sm">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdown1" ngbDropdownToggle>Actions</button>
        <div ngbDropdownMenu aria-labelledby="dropdown1">
          <button ngbDropdownItem (click)="goToNewMovie()">Add New Movie</button>
          <button ngbDropdownItem>Add Moderator</button>
        </div>
      </div>
    </div>
    <div>
      <p>{{youexist}}</p>
    </div>
  </div>
</div>
